<!DOCTYPE html>
<html>
<head>
  <title>CSS Toolkit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "//f.fontdeck.com/s/css/o6QfaKWxqPEublQOv9rluKl/2c4/#{request.host}/42127.css" %>
  <%= stylesheet_link_tag "application", media: "screen", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
